.navbar {
    border-top: 10px solid #B8D1B2;
    border-bottom: 8px solid #c6ad94;
}
.mr-auto {
  margin-right: 0 !important;
}
.navbar .navbar-collapse {         
  -webkit-justify-content: flex-end;
  justify-content: flex-end;  
}
nav {
    padding: 24px;
    text-align: center;
}
nav a {
    transition: 0.3s ease;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 20px 0;
    margin: 0 5px;
    font-size: 22px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
}
nav a:hover {
    border-top: 4px solid #c6ad94;
    border-bottom: 4px solid #c6ad94;
}
nav p {
    text-align: center;
}
.tab-1 {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    margin-left: -150px;
    text-align: left;
}
.tab-2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    margin-left: -120px;
}
.tab-3 { 
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    margin-left: -160px; 
}
.tab-4 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    margin-left: -120px;
}
.home {
    border-top: 8px solid #c6ad94;
    border-bottom: 15px solid #B8D1B2;
}
.created-by {
    text-align: right;
    font-family: 'M Plus Rounded 1c', sans-serif;
}
.left-row {
    margin-left: 200px;
    margin-right: 0px;
}
.right-row {
    margin-left: 200px;
}
.homepage {
    background-image: url("https://cdn.pixabay.com/photo/2018/10/07/08/05/radishes-3729392_1280.png"), url("https://cdn.pixabay.com/photo/2016/03/05/19/22/baking-1238370_1280.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 30%, 50%;
    background-position: 3% top, right bottom;
}
.about-us {
    margin-left: 70px;
}
.glow {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 15px #046865, 0 0 20px #B8D1B2, 0 0 22px #B8D1B2
}
.shop-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #21a0a0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding: 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: -100px;
}
.shop-button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}
.shop-button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}
.shop-button:hover span {
padding-right: 25px;
}
.shop-button:hover span:after {
opacity: 1;
right: 0;
}
.shop {
    background-image: url(https://cdn.pixabay.com/photo/2018/10/07/14/54/raspberries-in-the-bag-3730318_1280.png), url(https://cdn.pixabay.com/photo/2017/05/31/22/56/the-hen-2361934_1280.png);
    background-size: 30%, 25%;
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
}
.shop-head {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;

}
.left-row-shop {
    text-align: center;
    font-family: 'M Plus Rounded 1c'
}
.right-row-shop {
    text-align: center;
    font-family: 'M Plus Rounded 1c'
}
.shop-local-head {
    margin-left: -400;
    font-weight: 600;
}
.shop-category-head {
    margin-left: 400;
    font-weight: 600;
}
.category-list a {
    margin-left: 375;
    text-decoration: none;
    color: #21a0a0;
}
.farm-list a {
    margin-left: -475;
    text-decoration: none;
    color: #21a0a0;
}
.category-list a:hover {
    color: #046865;
}
.farm-list a:hover {
    color: #046865
}
.view-all {
    margin-left: 600;
}
.category-view {
    background-image: url(https://cdn.pixabay.com/photo/2018/10/07/14/54/raspberries-in-the-bag-3730318_1280.png), url(https://cdn.pixabay.com/photo/2017/05/31/22/56/the-hen-2361934_1280.png);
    background-size: 30%, 25%;
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    min-height: 300px
}
.category-view-head {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}
.category-view-list {
    text-align: center;
    margin-left: -20;
}
.category-view-list a {
    text-decoration: none;
    color: #046865;
    font-family: 'M Plus Rounded 1c', sans-serif

}
.category-view-list a:hover {
    color: #21a0a0;
}
.category-nav {
    margin-left: 640;
}
#location-map {
    height: 450px;
    width: 600px;
    border-style: solid;
    border-color: #c6ad94;
    border-width: 5px;
}
html, body {
    height: 75%;
    padding: 0;
}
.pickup-head {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}
.pickup-location {
    margin-left: -250;
}
#pickup-location-file a {
    text-decoration: none;
    color: #21a0a0;
    font-family: 'M Plus Rounded 1c', sans-serif;
}
#pickup-location-file {
    text-align: center;
    margin-left: 220;
    line-height: 3;
}
#pickup-location-file a:hover {
    color: #046865;
}
.pickup-view {
    background-image: url(https://cdn.pixabay.com/photo/2017/12/30/00/50/juicy-3049022_1280.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 22%;
}
#farm-map {
    height: 450px;
    width: 600px;
    border-style: solid;
    border-color: #c6ad94;
    border-width: 5px;
}
html, body {
    height: 75%;
    padding: 0;
}
.farm-head {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}
.farm-location {
    margin-left: -250;
}
#farm-file a {
    text-decoration: none;
    color: #21a0a0;
    font-family: 'M Plus Rounded 1c', sans-serif;
}
#farm-file {
    text-align: center;
    margin-left: 220;
}
#farm-file a:hover {
    color: #046865;
}
.farm-view {
    background-image: url(https://cdn.pixabay.com/photo/2018/09/06/08/30/fennel-3657761_1280.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 22%;
}
.about-us-head {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
}
.about-us-p {
    font-family: 'M Plus Rounded 1c', sans-serif;
}
#location-map-info {
    height: 450px;
    width: 600px;
    border-style: solid;
    border-style: solid;
    border-color: #c6ad94;
    border-width: 5px;
}
.farm-address {
    text-align: center;
    line-height: 60%;
}
.farm-address a {
    text-decoration: none;
    color: #21a0a0;
    font-family: 'M Plus Rounded 1c', sans-serif;
    font-size: 23;
}
.farm-address a:hover {
    color: #046865;
}
.vendor-head {
    font-size: 30;
    line-height: 2;
}
.farm-info {
    background-image: url(https://cdn.pixabay.com/photo/2017/08/26/09/39/herb-2682593_1280.png);
    background-repeat: no-repeat;
    background-position: bottom right 5%;
    background-size: 45%;
    min-height: 1100;
}
.pickup-info {
    background-image: url(https://cdn.pixabay.com/photo/2017/07/10/08/27/fruit-2489367_1280.png);
    background-repeat: no-repeat;
    background-position: bottom left 5%;
    background-size: 25%;
    min-height: 600;
}
.item-info {
    background-image: url(https://cdn.pixabay.com/photo/2017/07/10/08/27/fruit-2489367_1280.png);
    background-repeat: no-repeat;
    background-position: bottom left 5%;
    background-size: 25%;
    min-height: 600;
}
.add-to-cart input[type=number] {
    border: 3px solid #21a0a0;
    border-radius: 4px;
}
.add-to-cart-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #21a0a0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 25px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
}
.add-to-cart-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.add-to-cart-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.add-to-cart-button:hover span {
    padding-right: 25px;
}
.add-to-cart-button:hover span:after {
    opacity: 1;
    right: 0;
}
.item-info {
    background-image: url(https://cdn.pixabay.com/photo/2017/08/05/07/30/mushroom-2582415__340.png), url(https://cdn.pixabay.com/photo/2017/07/10/08/26/fruit-2489366_1280.png);
    background-repeat: no-repeat, no repeat;
    background-position: top right 25, bottom left;
    background-size: 25%, 28%;
}
.login input[type=email] {
    border: 3px solid #046865;
    border-radius: 4px;
    height: 45;
    width: 400;
    color: #21a0a0;
}
.login input[type=password] {
    border: 3px solid #046865;
    border-radius: 4px;
    height: 45;
    width: 400;
    color: #21a0a0;
}
.login-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #21a0a0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 23px;
    padding: 5px;
    width: 200px;
    height: 45px;
    transition: all 0.5s;
    cursor: pointer;
}
.login-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.login-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.login-button:hover span {
    padding-right: 25px;
}
.login-button:hover span:after {
    opacity: 1;
    right: 0;
}
.login {
    font-family: 'M Plus Rounded 1c', sans-serif;
    color: #21a0a0;
    font-size: 25;
    margin-left: -750;
    text-align: center;
}
.login-page {
    background-image: url(https://cdn.pixabay.com/photo/2016/12/05/10/07/dish-1883501_1280.png);
    background-repeat: no-repeat;
    background-size: 33%;
    background-position: center right 250px;
}
.login input[type=email] {
    border: 3px solid #046865;
    border-radius: 4px;
    height: 45;
    width: 400;
    color: #21a0a0;
}
.login input[type=password] {
    border: 3px solid #046865;
    border-radius: 4px;
    height: 45;
    width: 400;
    color: #21a0a0;
}
.sign-up input[type=email] {
        border: 3px solid #046865;
        border-radius: 4px;
        height: 45;
        width: 400;
        color: #21a0a0;
}
.sign-up input[type=password] {
    border: 3px solid #046865;
    border-radius: 4px;
    height: 45;
    width: 400;
    color: #21a0a0;
}
.sign-up input[name=username] {
    border: 3px solid #046865;
    border-radius: 4px;
    height: 45;
    width: 400;
    color: #21a0a0;
}
.sign-up input[name=fname] {
    border: 3px solid #046865;
    border-radius: 4px;
    height: 45;
    width: 400;
    color: #21a0a0;
}
.sign-up input[name=lname] {
    border: 3px solid #046865;
    border-radius: 4px;
    height: 45;
    width: 400;
    color: #21a0a0;
}
.sign-up {
    font-family: 'M Plus Rounded 1c', sans-serif;
    color: #21a0a0;
    font-size: 25;
    margin-left: -750;
    text-align: center;
}
.sign-up-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #21a0a0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 23px;
    padding: 5px;
    width: 200px;
    height: 45px;
    transition: all 0.5s;
    cursor: pointer;
}
.sign-up-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.sign-up-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.sign-up-button:hover span {
    padding-right: 25px;
}
.sign-up-button:hover span:after {
    opacity: 1;
    right: 0;
}
.sign-up-page {
    background-image: url(https://cdn.pixabay.com/photo/2017/05/02/16/48/strawberries-2278703__480.png);
    background-repeat: no-repeat;
    background-position: center right 90px;
    background-size: 47%;
}
.user-purchases-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #21a0a0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 25px;
    padding: 2px;
    width: 220px;
    height: 52px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left:190;
}
.user-purchases-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.user-purchases-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.user-purchases-button:hover span {
    padding-right: 25px;
}
.user-purchases-button:hover span:after {
    opacity: 1;
    right: 0;
}
.profile-page {
    min-height: 500;
    background-image: url(https://cdn.pixabay.com/photo/2017/08/09/17/48/fruit-2615309_1280.png), url(https://cdn.pixabay.com/photo/2017/05/05/14/56/fruit-2287298_1280.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 20%, 38%;
    background-position: 150px 65px, center right 200px;
}
.delete-cart {
    display: inline-block;
    border-radius: 4px;
    background-color: #046865;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 25px;
    padding: 2px;
    width: 220px;
    height: 52px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 10;
}
.delete-cart span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.delete-cart span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.delete-cart:hover span {
    padding-right: 25px;
}
.delete-cart:hover span:after {
    opacity: 1;
    right: 0;
}
.shopping-cart {
    min-height: 500;
    background-image: url(https://cdn.pixabay.com/photo/2017/07/11/19/29/bokchoy-2494763__480.png), url(https://cdn.pixabay.com/photo/2018/09/04/18/55/eat-3654444__340.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 32%, 38%;
    background-position: 0px 35px, 850px 50px;
    min-height: 550;
}
.shopping-cart a {
    text-decoration: none;
    color: #21a0a0;
    font-family: 'M Plus Rounded 1c', sans-serif;
    font-size: 25;
}
.shopping-cart a:hover {
    color: #046865
}
.checkout-cart-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #21a0a0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 25px;
    padding: 2px;
    width: 220px;
    height: 52px;
    transition: all 0.5s;
    cursor: pointer;
}
.checkout-cart-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.checkout-cart-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.checkout-cart-button:hover span {
    padding-right: 25px;
}
.checkout-cart-button:hover span:after {
    opacity: 1;
    right: 0;
}
.checkout {
    text-align:center;
    font-family: 'M Plus Rounded 1c', sans-serif;
}
.checkout-head {
    text-align:center;
}
.checkout-page input[name=fname] {
    border: 3px solid #21a0a0;
    border-radius: 4px;
    height: 45;
    width: 400;
    color: #21a0a0;
}
.checkout-page input[name=lname] {
    border: 3px solid #21a0a0;
    border-radius: 4px;
    height: 45;
    width: 400;
    color: #21a0a0;
}
.checkout-page input[name=phone] {
    border: 3px solid #21a0a0;
    border-radius: 4px;
    height: 45;
    width: 400;
    color: #21a0a0;
}
.checkout-page input[name=card] {
    border: 3px solid #21a0a0;
    border-radius: 4px;
    height: 45;
    width: 400;
    color: #21a0a0;
}
.checkout-page input[value=Visa] {
    margin-left: 310;
}
.checkout-page input[value=Mastercard] {
    margin-left: 310;
}
.checkout-page input[value='American Express'] {
    margin-left: 310;
}
.checkout-page input[value=Discover] {
    margin-left: 310;
}
.checkout-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #21a0a0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 25px;
    padding: 2px;
    width: 250px;
    height: 60px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 45;
    margin-left:825;
}
.checkout-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.checkout-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.checkout-button:hover span {
    padding-right: 25px;
}
.checkout-button:hover span:after {
    opacity: 1;
}
.checkout-page {
    background-image: url(https://cdn.pixabay.com/photo/2019/10/29/11/30/eat-4586705_1280.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 600px;
}
.confirmed-page {
    text-align: center;
    min-height: 550;
    background-image: url(https://cdn.pixabay.com/photo/2020/04/19/01/53/peppers-5061541_1280.png), url(https://cdn.pixabay.com/photo/2018/08/22/05/12/vegetables-3622862_1280.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left 2%;
    background-size: 30%, 30%;
}
.thank-you {
    font-family: Barlow Condensed, sans-serif;
    color: #046865;
    font-size: 100;
}
.order-confirmed {
    font-family: 'M Plus Rounded 1c', sans-serif;
    color: #21a0a0
}
.review-purchases {
    display: inline-block;
    border-radius: 4px;
    background-color: #21a0a0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 25px;
    padding: 2px;
    width: 350px;
    height: 60px;
    transition: all 0.5s;
    cursor: pointer;
}
.review-purchases span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.review-purchases span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.review-purchases:hover span {
    padding-right: 25px;
}
.review-purchases:hover span:after {
    opacity: 1;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #046865;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.user-purchase-links {
    font-family: 'M Plus Rounded 1c', sans-serif;
    margin-left: -850;
    line-height: 1.25;
    font-size: 20;
}
.user-purchases a {
    text-decoration: none;
    color: #21a0a0;
}
.purchase-div {
    margin-top: 10;
}
.user-purchases {
    background-image: url(https://cdn.pixabay.com/photo/2020/05/12/09/53/tomatoes-5162145_1280.png);
    background-repeat: no-repeat;
    background-position: center right 200;
    background-size: 750px;
}