/* Navigation Bar (base.html) */
.navbar {
    border-top: 10px solid #B8D1B2;
    border-bottom: 8px solid #c6ad94;
}
.mr-auto {
  margin-right: 0 !important;
}
.navbar .navbar-collapse {         
  -webkit-justify-content: flex-end;
  justify-content: flex-end;  
}
nav {
    padding: 24px;
    text-align: center;
}
nav a {
    transition: 0.3s ease;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 20px 0;
    margin: 0 5px;
    font-size: 22px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
}
nav a:hover {
    border-top: 4px solid #c6ad94;
    border-bottom: 4px solid #c6ad94;
}
nav p {
    text-align: center;
}
.tab-1 {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
    margin-left: -150px;
    text-align: left;
}
.tab-2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    margin-left: -120px;
}
.tab-3 { 
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    margin-left: -160px; 
}
.tab-4 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    margin-left: -120px;
}
.home {
    border-top: 8px solid #c6ad94;
    border-bottom: 15px solid #B8D1B2;
}
.created-by {
    text-align: right;
    font-family: 'M Plus Rounded 1c', sans-serif;
}
.left-row {
    margin-left: 200px;
    margin-right: 0px;
}
.right-row {
    margin-left: 200px;
}
.homepage {
    background-image: url("https://cdn.pixabay.com/photo/2018/10/07/08/05/radishes-3729392_1280.png"), url("https://cdn.pixabay.com/photo/2016/03/05/19/22/baking-1238370_1280.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 30%, 50%;
    background-position: 3% top, right bottom;
}
.about-us {
    margin-left: 70px;
}
.glow {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 15px #046865, 0 0 20px #B8D1B2, 0 0 22px #B8D1B2
}
.shop-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #21a0a0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding: 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: -100px;
}
.shop-button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}
.shop-button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}
.shop-button:hover span {
padding-right: 25px;
}
.shop-button:hover span:after {
opacity: 1;
right: 0;
}