/* Navigation Bar (base.html) */
.navbar {
    border-top: 10px solid #B8D1B2;
    border-bottom: 8px solid #c6ad94;
}
.mr-auto {
  margin-right: 0 !important;
}
.navbar .navbar-collapse {         
  -webkit-justify-content: flex-end;
  justify-content: flex-end;  
}
nav {
    padding: 24px;
    text-align: center;
}
nav a {
    transition: 0.3s ease;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 20px 0;
    margin: 0 5px;
    font-size: 17px;
}
nav a:hover {
    border-top: 4px solid #c6ad94;
    border-bottom: 4px solid #c6ad94;
}

/* Homepage tabs (homepage.html) */
.middle-column {
    text-align: left;
}
.col-3{
    text-align: right;
}
.tab-1 {
    margin-left: 20px;
}
.tab-2 { 
    margin-left: 60px; 
}
.tab-3 {
    margin-left: 100px;
}
.home {
    border-top: 8px solid #c6ad94;
    border-bottom: 15px solid #B8D1B2;
}
.created-by {
    text-align: right;
}
.left-row {
    margin-left: 200px;
    margin-right: 0px;
}
.right-row {
    margin-left: 200px;
}