{% extends 'base.html' %}

{% block title %}All Farms{% endblock %}

{% block body %}

<script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
</script>

<!-- Javascript file for map -->
<script src="/static/maps.js"></script>
<script
  async defer
  src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDm6PIjXty0AVGw2ZzCDXARsF6Mlk5uhU4&callback=initFarmMap">
</script>

<!-- Javascript file -->
<script src="/static/static.js"></script>


<div class="farm-view container-fluid">
  <br><br>
  <div class="row pickup-head">
    <h1 class="farm-location" style="color:#21a0a0; font-size:300%;">Our Local Vendors</h1>
    <h3 class="farm-location" style="color:#046865; font-size:150%;">Click to view more information</h3>
  </div><br>
  <div class="row farm-body">
    <div class="col left-farm">
      <h4><ol id = "farm-file"></ol><br>
    </div>
    <div class="col right-farm">
      <div id = "farm-map"></div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light home" style="background-color: #fab3a9;">
  <div class="container-fluid">
    <a class="navbar-brand view-all" href="/all-pickup-locations"><text style="color:#046865; font-size:150%; font-weight:500;">Check Out Our Pickup Locations!</text></a>
      </div>
    </div>
  </div>
</nav>

{% endblock %}