{% extends 'base.html' %}

{% block title %}All Farms{% endblock %}

{% block body %}

<script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
</script>

<h1>Our Local Vendors</h1>
<h3>Click to view more information</h3>

<!-- Javascript file -->
<script src="/static/static.js"></script>

<h4><ol id = "farm-file"></ol><br>



<!-- Javascript file for map -->
<script src="/static/maps.js"></script>
<script
  async defer
  src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDm6PIjXty0AVGw2ZzCDXARsF6Mlk5uhU4&callback=initFarmMap">
</script>

<style>
    #farm-map {
      height: 450px;
      width: 600px;
    }
    html, body {
      height: 75%;
      padding: 0;
    }
  </style>

<div id = "farm-map"></div>

{% endblock %}