{% extends 'base.html' %}

{% block title %}Shop{% endblock %}

{% block body %}

<script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
</script>


<div class="view-items container-fluid">
    <div class="row">
        <h1 style="color:#20a0a0; text-align:center; font-family: Barlow Condensed, sans-serif; font-size:55; margin-top:35;">
        All Items<br></h1><br>
        <h3 style="color:#046865; text-align:center; font-family: Barlow Condensed, sans-serif;">Click to view more information</h3><br><br><br>
        <a style="text-align:center;" href="/shop">
            <button class="all-items-button" type = "submit" id = "submit-info">Head Back to Shop Page!</button><br><br>
        </a>
    </div>
    <div class="row items-list">
        <div class="col items-list">
        <h4 style="margin-right:75; margin-left:25; font-family: Barlow Condensed, sans-serif; font-size:18; line-height:1; text-align:center;"><br><br>
            <ol class= "item-view-list" id = "item-file">
        </ol><br>
    </div>
</div>
</div>

<nav class="navbar navbar-expand-lg navbar-light home" style="background-color: #fab3a9;">
    <div class="container-fluid">
      <a class="navbar-brand view-all" href="/shop"><text style="color:#046865; font-size:150%; font-weight:500;">Go Back to the Shop Page</text></a>
        </div>
      </div>
    </div>
  </nav>  




<!-- Javascript file -->
<script src="/static/static.js"></script>

{% endblock %}