{% extends 'base.html' %}

{% block title %}Pickup Locations{% endblock %}

{% block body %}

<script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
</script>



<h1>Pickup Locations</h1>
<h3>Click to view more information</h3>

<h4><ol id = "pickup-location-file"></ol><br>
    
    
<iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/view?zoom=10&center=36.1627%2C-86.7816&key=AIzaSyDm6PIjXty0AVGw2ZzCDXARsF6Mlk5uhU4"></iframe>



<!-- Javascript file -->
<script src="/static/static.js"></script>


{% endblock %}

