<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}

  

    <form action = "/">
      <div class = "home">
      <button type = "submit" id = "home">Home</button>
    </div></form>
    <form action = "/how-it-works">
      <div class = "how-it-works">
        <button type = "submit" id = "how-it-works">How It Works</button>
      </div></form>

    {% if session["current_user"] %}
    <form action = "/user-profile">
    <div class = "user-profile">
      <button type = "submit" id = "user-profile">Your Profile</button>
    </div></form>
    <form action = "/shopping-cart">
      <div class = "shopping-cart">
      <button type = "submit" id = "shopping-cart">Your Cart</button>
    </div></form>
    <form action = "/logout">
      <div class = "logout">
      <button type = "submit" id = "logout">Log Out</button>
    </div></form>
    {% else %}
    <form action = "/login">
      <div class = "login">
      <button type = "submit" id = "login">Log In</button>
    </div></form>
      <form action = "/sign-up">
        <div class = "sign-up">
      <button type = "submit" id = "sign-up">Sign Up</button>
    </div></form>
    {% endif %}
    

    {% endblock %}
  </head>

  <body>
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}

    {% block body %}{% endblock %}
    

    {% block after_body %}{% endblock %}
  </body>
</html>