{% extends 'base.html' %}

{% block title %}{{farm_name}}{% endblock %}

{% block body %}

<h1><div id = "farm-info-name">
{{farm_name}}
</div></h1>

<iframe
width="600"
height="450"
frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?zoom=8&center=36.1627%2C-86.7816&key=AIzaSyDm6PIjXty0AVGw2ZzCDXARsF6Mlk5uhU4&q={{farm_name}}" allowfullscreen>
</iframe>

<h3><u>Address:</u> {{farm_address}}<br><br>
    <u>Description:</u> {{farm_description}}<br><br>

    {% if current_user != None %}

    <u>Items:</u>
    
    {% for item_name in farm_items %}

    
    <ol><a href = "/item-info/{{item_name}}">{{item_name}}</a></ol>


    {% endfor %}

    <ol id = "farm-item-list"></ol>
    <br><br>
    {% endif %}



{% endblock %}
