{% extends 'base.html' %}

{% block title %}{{farm_name}}{% endblock %}

{% block body %}

<h1>{{farm_name}}</h1>

<h3><u>Name:</u> {{farm_name}}<br><br>
    <u>Address:</u> {{farm_address}}<br><br>
    <u>Description:</u> <i>2.0</i><br><br>
    <u>Items:</u> <i>2.0</i><br><br><br>

    
    <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?zoom=8&center=36.1627%2C-86.7816&key=AIzaSyDm6PIjXty0AVGw2ZzCDXARsF6Mlk5uhU4&q={{farm_name}}" allowfullscreen>
  </iframe>

{% endblock %}
