{% extends 'base.html' %}
{% block title %}Fresh Made Easy Homepage{% endblock %}

{% block body %}
  <h1>Fresh Made Easy</h1>

  <h2>- tagline -</h2><br><br>
  <form action = "/login">
    <div class = "login">
    <button type = "submit" id = "login">Log in</button>
  </div></form>
    <form action = "/sign-up">
      <div class = "sign-up">
    <button type = "submit" id = "sign-up">Sign up</button>
  </div>
  </form>

{% endblock %}

# "login" button is routed correctly, sign up button needs to be routed
# "sign-up.html" is created but empty.