{% extends 'base.html' %}
{% block title %}Fresh Made Easy Home{% endblock %}

{% block body %}


<div class="homepage container-fluid">
  <div class="row">
    <div class="col-8 right-row"> 
        <br><br><br>
          
          <h2 style="color:#21a0a0; font-size:350%;">
            <text class="tab-1">
              Eating Fresh is Easy With...
        </text>
      </h2>
      <h1 style="color:#046865; font-size:650%;">
          <text class="tab-2">
              <b>
                Fresh
          </text>
              <br>
          <text class="tab-3">
                Made
          </text>
        <br>
          <text class="tab-4">
                Easy!
          </text>
              </b>
        <br>
      </h1>
        <br><br><br><br><br>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light home" style="background-color: #fab3a9;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/about-us"><text style="color:#046865; font-size:150%;"><b>About Us</b></text</a>
    <a class="navbar-brand" href="/all-pickup-locations"><text style="color:#046865; font-size:150%;"><b>View Pickup Locations</b></text</a>
    <a class="navbar-brand" href="/all-farms"><text style="color:#046865; font-size:150%;"><b>Get to Know Our Local Vendors</b></text</a>
    </button>
        {% if current_user != None %}
      <a class="navbar-brand" href="/shop"><text style="color:#046865; font-size:150%;"><b>Create Your Box</b></a></text>
      </button>
      </div>
    </div>
  </div>
  {% endif %}
</nav>




{% endblock %}