{% extends 'base.html' %}

{% block title %}How It Works{% endblock %}

{% block body %}

<div class="about-us-view container-fluid">
    <div class="row about-us-page">
        <div class="col-4 left-about-us">
            <br>
            <img class = "about-us-image"
                src = "https://cdn.pixabay.com/photo/2017/03/14/21/06/carrots-2144401_1280.png"
                width = 560
                alt = "about-us-image"> 
            </img>
        </div>
        <div class="col right-about-us">
            <h1 class="about-us-head" style="color:#21a0a0; font-size:300%;"><br>How It Works</h1><br>
            <h3 class="about-us-p" style="text-align:justify; margin-right:20; color:#046865; font-size:150%;">
                <p>
                <span style="float: left; width: 0.8em; font-size: 425%; font-family: M Plus Rounded 1c, sans-serif; line-height: 80%;">1</span>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta 
                sunt explicabo. 
                </p><br><br>
                <p>
                <span style="float: left; width: 0.8em; font-size: 425%; font-family: M Plus Rounded 1c, sans-serif; line-height: 80%;">2</span>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia 
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui 
                dolorem ipsum quia dolor sit amet, consectetur. 
                </p><br><br>
                <p>
                <span style="float: left; width: 0.8em; font-size: 425%; font-family: M Plus Rounded 1c, sans-serif; line-height: 80%;">3</span>
                Ut enim ad minima veniam, quis nostrum 
                exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem 
                vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae.
                </p><br><br>
                <p>
                <span style="float: left; width: 0.8em; font-size: 425%; font-family: M Plus Rounded 1c, sans-serif; line-height: 80%;">4</span>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti 
                atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique.
                </p><br>
                <p>
                <span style="float: left; width: 0.8em; font-size: 425%; font-family: M Plus Rounded 1c, sans-serif; line-height: 80%;">5</span>
                <text style="font-size: 250%; color:#21a0a0; font-family:Barlow Condensed, sans-serif;">Enjoy your fresh food!</text>
                </h3><br><br><br></p>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light home" style="background-color: #fab3a9;">
    <div class="container-fluid">
      <a class="navbar-brand view-all" href="/"><text style="color:#046865; font-size:150%; font-weight:500;">Head Back Home!</text></a>
        </div>
      </div>
    </div>
  </nav>

{% endblock %}