{% extends 'base.html' %}

{% block title %}{{item_name}} Info{% endblock %}

{% block body %}

<h1>
<div id = "item-name">
{{item_name}}
</div></h1>

<img class = "item-info-image"
    src = {{item_img}}
    width = 200
    alt = "{{item_name}} image"></img>

<h3>
    <!-- <form action = "/add-item-to-cart"> -->
    <u>Local Vendor:</u><br> {{farm_name}}<br><br>
    <u>Description:</u><br> {{item_description}}<br><br>
    <u>Price:</u> <div id = "item-cost">{{item_cost}}</div><br><br>
    <form action = "/add-item-to-cart/{{item_name}}" method = "POST">
    <div class = "add-to-cart">
        <input id = "add-to-cart-amount" type = "number" min = "0" name = "add-to-cart" required /><br>
    </div>
    <div class = "add-to-cart">
        <button type = "submit" id = "add-to-cart-button">Add To Cart</button>
    </div></form><br><br>

    <h2>See where this comes from!</h2>
    <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?zoom=8&center=36.1627%2C-86.7816&key=AIzaSyDm6PIjXty0AVGw2ZzCDXARsF6Mlk5uhU4&q={{farm_name}}" allowfullscreen>
  </iframe>


{% endblock %}