{% extends 'base.html' %}

{% block title %}Log In{% endblock %}




{% block body %}

<div class="login-page container-fluid">
<h1 style="color:#046865; margin-left:250; font-family: Barlow Condensed, sans-serif;"><br>Please Enter Log-in Info:</h2><br>
<form action = "/login" method = "POST">
    <div class = "login" style="line-height:1.75;">
        <label for = "email">Email</label><br>
        <input id = "email" type = "email" name = "email" required /></textarea><br>
        <label for = "password">Password</label><br>
        <input id = "password" type = "password" name = "password" required /></textarea><br>
    </div><br>
    <div class = "login">
        <button class="login-button" type = "submit" id = "submit-info">Login</button>
    </div></form><br><br>
</div>


<nav class="navbar navbar-expand-lg navbar-light home" style="background-color: #fab3a9;">
    <div class="container-fluid">
      <a class="navbar-brand view-all" href="/sign-up"><text style="color:#046865; font-size:150%; font-weight:500;">Don't have an account? Sign Up!</text></a>
        </div>
      </div>
    </div>
  </nav>

<!-- <form method = "POST" action = "/">
    <div class = "login">
        <label for = "email">Email:</label>

    </div>
    <div class = "login">

        <input type = "submit" id = "submit-info">
    </div>
</form> -->
{% endblock %}