{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block body %}
<h2>Please Enter Log-in Info:</h2>
<form method = "POST" action = "/">
    <div class = "login">
        <label for = "email">Email:</label>
        <input id = "email" type = "email" name = "email" required /></textarea>
    </div>
    <div class = "login">
        <label for = "password">Password:</label>
        <input id = "password" type = "password" name = "password" required /></textarea><br>
        <input type = "submit" id = "submit-info">
    </div>
</form>
{% endblock %}