{% extends 'base.html' %}

{% block title %}Purchase Information{% endblock %}

{% block body %}

<h1>{{fname}}'s Purchase Information</h1>
<h3><u>Purchase ID:</u>  {{purchase_id}}<br><br>
<u>Date and Time Placed:</u> {{date_time_of_purchase}}<br><br>
<u>Pickup Location:</u>  {{pickup_location}}<br><br>
<u>Pickup Date and Time:</u> {{pickup_date}}<br><br>
<u>Payment Method:</u> {{payment_method}}<br><br>
<u>Order Total:</u> {{purchase_total}}<br><br>
<u>Items:</u> <i>2.0</i></h3>




{% endblock %}