{% extends 'base.html' %}

{% block title %}Purchase Information{% endblock %}

{% block body %}


<div class="purchase-info container-fluid">
  <br><h1 style="color:#046865; margin-left:200; font-family: Barlow Condensed, sans-serif; font-size:55; line-height:2;">
    <div class = "row">
    {{fname}}'s Purchase Info<br>
      </div></h1>
      <div class = "row">
        <div class= "col">
      <h2 style="font-size:27; color:#21a0a0; margin-left:75;">
        <span style="line-height:1.75;">
        <text style="font-size:35; font-family:Barlow Condensed, sans-serif;">Purchase ID:</text>
        <text style="font-family:Barlow Condensed, sans-serif; color:#046865; font-size:32;"> {{purchase_id}}</text><br>
        <text style="font-size:35; font-family:Barlow Condensed, sans-serif; color:#21a0a0">Pickup Date: </text>
        <text style="font-family:Barlow Condensed, sans-serif; color:#046865; font-size:32;">{{pickup_date}}</text><br>
        <text style="font-size:35; font-family:Barlow Condensed, sans-serif; color:#21a0a0">Payment Method:</text>
        <text style="font-family:Barlow Condensed, sans-serif; color:#046865; font-size:32;">{{payment_method}}</text><br>
        <text style="font-size:35; font-family:Barlow Condensed, sans-serif; color:#21a0a0">Order Total:</text>
        <text style="font-family:Barlow Condensed, sans-serif; color:#046865; font-size:32;">
        ${{purchase_total}}.00<br></text>
      </span>
      </h2>
      </div>
      <div class = "col">
          <text style="margin-left:-250; font-size:35; font-family:Barlow Condensed, sans-serif; color:#21a0a0;">Items:<br>
        {% for item in items %}
        <ol><a class = "items-purchased" style = "margin-left:-250; line-height:1.25;" href = "/item-info/{{item}}">{{item}}</a></ol>
        {% endfor %}
      </text><br><br><br>
    </div>
    </div>
  </div>


    <nav class="navbar navbar-expand-lg navbar-light home" style="background-color: #fab3a9;">
      <div class="container-fluid">
        <a class="navbar-brand view-all" href="/user-profile"><text style="color:#046865; font-size:150%; font-weight:500;">Go Back to Your Profile</text></a>
          </div>
        </div>
      </div>
    </nav>



{% endblock %}