{% extends 'base.html' %}
{% block title %}Shopping Cart{% endblock %}

{% block body %}

<script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
</script>


  <h1>Your Cart:</h1>
  

  <h4><ol id = "cart">*COMING SOON*</ol><br><br>


  <h3>Cart Total: <small>{{total}}</small></h3>
  <form action = "/checkout">
  <div class = "checkout">
    <button type = "submit">Checkout</button>
</div></form>


<!-- Javascript file -->
<script src="/static/static.js"></script>

{% endblock %}