{% extends 'base.html' %}

{% block title %}Shop{% endblock %}

{% block body %}

<script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
</script>


<div class="shop container-fluid">
    <div class="row">
        <h1>Shop</h1>
    </div>
    <div class="row">
        <div class="col-2 left-row-shop">
            <h3>Shop By Category:</h3>
            <h4><ol id = "category-list"></ol></h4><br><br>
        </div>
        <div class="col-2 middle-row-shop"> 
            <h3>Shop By Local Vendor:</h3>
            <h4><ol id = "farm-list"></ol></h4><br>
        </div>
        <div class="col-2 right-row-shop">
            column3 - maybe a picture or something here
        </div>
    </div>
  </div>

<h3><a href = "/all-items">Click here to view all items</a></h3>


<!-- Javascript file -->
<script src="/static/static.js"></script>

{% endblock %}