{% extends 'base.html' %}
{% block title %}Shopping Cart{% endblock %}

{% block body %}


  <h1>{{fname}}'s Cart:</h1>

{% for item in item_names %}
    <ul><a id = "cart-item-info" href = "/item-info/{{item}}">{{item}}</a></ul>
{% endfor %}



  <h3>Cart Total: {{cart_total}}</h3><br>

<b><a id = "continue-shopping" href = "/shop">Click here to continue shopping!</a></b><br><br>


  <form action = "/checkout">
  <div class = "checkout">
    <button type = "submit">Checkout</button>
</div></form>
  <form action = "/delete-cart" method = "POST">
  <div class = "delete-cart">
    <button type = "submit">Empty Cart</button>
  </div></form>


{% endblock %}