{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
<h2>Please enter your information:</h2>
<form method = "POST" action = "/user-profile">
    <div class = "sign-up">
        <label for = "username">Username:</label><br>
        <input id = "username" name = "username" required /><br>
    </div>
    <div class = "sign-up">
        <label for = "email">Email:</label><br>
        <input id = "email" type = "email" name = "email" required /><br>
    </div>
    <div class = "sign-up">
        <label for = "password">Password:</label><br>
        <input id = "password" type = "password" name = "password" required /><br>
    </div>
    <div class = "sign-up">
        <label for = "fname">First Name:</label><br>
        <input id = "fname" name = "fname" required /><br>
    </div>
    <div class = "sign-up">
        <label for = "lname">Last Name:</label><br>
        <input id = "lname" name = "lname" required />
    </div>
    <div class = "sign-up">
        <button type = "submit">Sign Up</button>
    </div>

 {% endblock %}

