{% extends 'base.html' %}

{% block title %}User Purchases{% endblock %}

{% block body %}

<div class="user-purchases container-fluid">
<h1 style = "font-family: Barlow Condensed, sans-serif; color:#046865; margin-left:250;"><br>{{fname}}'s Purchases:</h1><text style="font-family:Barlow Condensed, sans-serif; margin-left: 265; font-size:20; color:#046865; line-height:.75;">Click to view more information.</text><br><br>

<div class = purchase-div style="text-align:center;">
{% for purchase in purchases %}
<h3><ol><a class = user-purchase-links id = "purchase-info" href = "/purchase-info/{{purchase.purchase_id}}">Purchase ID: {{purchase.purchase_id}}, Total: ${{purchase.purchase_total}}.00</a></ol></h3>
{% endfor %}
</div>
</div><br><br>


<nav class="navbar navbar-expand-lg navbar-light home" style="background-color: #fab3a9;">
    <div class="container-fluid">
      <a class="navbar-brand view-all" href="/user-profile"><text style="color:#046865; font-size:150%; font-weight:500; margin-left:-15;">Back to Profile</text></a>
        </div>
      </div>
    </div>
  </nav>



{% endblock %}