{% extends 'base.html' %}

{% block title %}{{fname}}'s Profile Page{% endblock %}

{% block body %}

<div class="profile-page container-fluid">
    <h1 style="color:#046865; margin-left:450; font-family: Barlow Condensed, sans-serif; font-size:55;"><br><br>
        {{fname}} {{lname}}<br>
        <text style="font-size:27; color:#21a0a0">{{username}}<br>
        {{email}}</text></h2><br><br><br>
        <a href="/user-purchases">
        <button class="user-purchases-button" type = "submit" id = "submit-info">Your Purchase History</button>
    </a>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light home" style="background-color: #fab3a9;">
        <div class="container-fluid">
          <a class="navbar-brand view-all" href="/shop"><text style="color:#046865; font-size:150%; font-weight:500;">Start Shopping!</text></a>
            </div>
          </div>
        </div>
      </nav>


{% endblock %}